.container {
    min-height: 100vh;
    background-image: linear-gradient(to right, #41463e 0%, #878877  51%, #d3c8c3  100%);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card{
    width: 300px;
    padding: 10px;
    height: 250px;
    background-color: azure;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 25px 10px rgba(63, 60, 60, 0.6);
    color: rgb(49, 54, 54);
}