.container {

  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("../public/bg.jpg");
  align-items: center;
}
.btn {
  margin: 0 40px 0 40px;
  background-image: linear-gradient(to right, #41463e 0%, #878877  51%, #d3c8c3  100%);
  cursor: pointer;
  width: 130px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: 0.5s;
  box-shadow: 0px 0px 25px 10px rgba(173, 163, 163, 0.6);
}
.btn:hover{
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 668px) {
  div.container{
    flex-direction: column;
  }
  button.btn{
    margin: 20px 0px 20px 0px;
  }
}