.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to right, #a8a4cf 0%, #8788c4  23%, #6b6cb4  55%, #484ac4  75%, #330ed4  100%);
  align-items: center;
}