.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("../public/bg.jpg");
    align-items: center;
    flex-wrap: wrap;
  }

.form{
    display: flex;
    flex-direction: column;
}
.input{
    margin:30px 0;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    color: white;    
}
.input::placeholder{
    color: black;
}
.input:hover{
    transform: scale(1.1);
}
.onSubmit{
        margin:40px 40px 0 40px;
        background-image: linear-gradient(to right, #41463e 0%, #878877  51%, #d3c8c3  100%);
        cursor: pointer;
        width: 130px;
        height: 30px;
        border-radius: 10px;
        border: none;
        outline: none;
        font-weight: bold;
        color: white;
        box-shadow: 0px 0px 25px 10px rgba(173, 163, 163, 0.6);
}